@keyframes ditto_bounce {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-10px);
    filter: none;
    opacity: 1;
  }
  100% {
    filter: invert(43%) sepia(86%) saturate(2341%) hue-rotate(164deg) brightness(99%) contrast(101%);
  }
}

.layout-paragraphs-field .layout-paragraphs-actions .layout-paragraphs-ditto-copy {
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin: 0 6px 0 3px !important;
  text-indent: 100%;
  font-size: 0;
  overflow: hidden;
  border: none;
  border-radius: 100%;
  opacity: .5;
  background: url("../img/icon-copy.svg") no-repeat center center;
  background-size: 68%;
  transform: translateY(-6px);
}

.layout-paragraphs-ditto-copy:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.layout-paragraphs-field .layout-paragraphs-actions .layout-paragraphs-ditto-copy:hover,
.layout-paragraphs-field .layout-paragraphs-actions .layout-paragraphs-ditto-copy:focus {
  opacity: 1;
}

.layout-paragraphs-ditto-copy.copied {
  animation-duration: 300ms;
  animation-name: ditto_bounce;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  position: relative;
}
